
/********************** Backgrounds **********************/

	body, .ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
		background-color: #FFFFFF;
	}
	
	#Projects {
		background-color: #F8F8F8;
	}
	
	#Footer {
		background-color: #1e1f1f;
	}
	

/********************* Colors *********************/

/* Content font */

	body, .ui-tabs .ui-tabs-nav li a, .ui-accordion h3 a, .widget ul.menu li a,
	.widget_links ul li a, .widget_meta ul li a {
		color: #676f76;
	}
	
/* Links color */

	a, a:visited, .widget ul.menu li a:hover, .widget ul.menu li.current_page_item a, 
	.widget ul.menu li.current_page_item a i, .widget ul.menu li a:hover i,
	.widget_links ul li a:hover, .widget_meta ul li a:hover, .testimonial .rslides_tabs li.rslides_here a, .testimonial .rslides_tabs li a:hover,
	.pager a.active, .pager a:hover.page, .Our_clients_slider a:hover.Our_clients_slider_prev, .Our_clients_slider a:hover.Our_clients_slider_next,
	.team .links a:hover.link {
		color: #e32929;	
	}
	
	a:hover {
		color: #c21a1a;
	}
	
/* Strong (dark) */
	.Recent_comments ul li strong, #Content .Latest_posts ul li a.title,  
	#Content .Latest_posts ul li p i, .Recent_comments ul li p strong,
	.Recent_comments ul li p i, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
	.ui-accordion h3.ui-state-active a, .Twitter ul li span, .single-post .post .date {
		color: #31373c;
	}
	
/* Dark blue */
	
	blockquote div.text p, .get_in_touch li.phone p, .pricing-box .plan-inside ul li strong,
	.error h4, .team p, blockquote p.author span {
		color: #611212;
	}
	
/* Grey notes */

	.Twitter ul li > a, .Recent_comments li span.date, .Latest_posts span.date,
	.wp-caption .wp-caption-text, .pricing-box .plan-header .period, .post .meta, 
	.widget_categories li, .widget ul.menu li a i, .testimonial .rslides_tabs li a, .pager a,
	.Our_clients_slider a.Our_clients_slider_prev, .Our_clients_slider a.Our_clients_slider_next, .team .links a.link { 
		color: #A3A3A3;
	}

/* Headings font */
	
	h1 { color: #313131; }
	h2 { color: #313131; }
	h3 { color: #313131; }
	h4 { color: #313131; }
	h5 { color: #611212; }
	h6 { color: #31373c; }

/* Menu color */

	#Header #menu > ul > li > a {
		color: #FFFFFF;
		border-color: #F85E5E;
	}
	
	#Header #menu > ul > li > a span {
		color: #ffa3a3;
	}
	
	#Header #menu > ul > li.current-menu-item > a,
	#Header #menu > ul > li.current_page_item > a,
	#Header #menu > ul > li.current-menu-ancestor > a,
	#Header #menu > ul > li.current_page_ancestor > a {
		color: #611212;
	}
	
	#Header #menu > ul > li.current-menu-item > a span,
	#Header #menu > ul > li.current_page_item > a span,
	#Header #menu > ul > li.current-menu-ancestor > a span,
	#Header #menu > ul > li.current_page_ancestor > a span {
		color: #fff;
	}
	
	#Header #menu > ul > li > a:hover,
	#Header #menu > ul > li.hover > a {
		color: #611212;
		background: #fff;
	}
	
	#Header #menu > ul > li > a:hover span,
	#Header #menu > ul > li.hover > a span {
		color: #611212;
	}
	
	#Header #menu > ul > li ul {
		background: #fff;
	}
	
	#Header #menu > ul > li ul li a:hover, 
	#Header #menu > ul > li ul li.hover > a {
		color: #611212;
	}
	
	#Header #menu > ul > li ul li a {
		color: #676f76;
		border-color: #E8E8E8;
	}
	
/* Logo border top */
	#Header #logo {
		border-color: #F57070;
	}
		
/* Header addons */	
	#Header .addons p.phone {
		color: #fff;
	}
	
	#Header .addons p.phone span {
		color: #F5A5A5;
	}
	
	#Header .addons p.phone i {
		color: #611212;
	}
	
/* Subheader */	
	#Subheader h1 { 
		color: #611212;
	}
	
	#Subheader ul.breadcrumbs li { 
		color: #BC4A4A;
	}
	
	#Subheader ul.breadcrumbs li a { 
		color: #e32929;
	}
	
/* Buttons */
	a.button, input[type="submit"], input[type="reset"], input[type="button"] {
		background-color: #E32929;
		border-color: #E32929;
		color: #FFFFFF;
	}
	a:hover.button, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
		background-color: #C81D1D;
		border-color: #C81D1D;
		color: #FFFFFF;
	}
	
/* Frames and borders color */

	.Recent_comments li, .Latest_posts li, .get_in_touch li, .pricing-box .plan-inside ul li, 
	.pricing-box, .ui-widget-header, #Content .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-panel,
	.ui-tabs .ui-tabs-nav li, .ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content, 
	.gallery .gallery-item .gallery-icon, .post .meta, .post .image, .article_box,
	#comments .commentlist > li .photo, #comments .commentlist > li, 
	#comments .commentlist li .comment-body, .Twitter ul li, .Flickr .flickr_badge_image a,
	.single-post .post .category, .single-post .post .date, .pager, .single-portfolio .photo,
	.single-portfolio .sp-inside .sp-inside-right, table thead th, table tbody td, .widget ul.menu li a,
	.widget_links ul li a, .widget_meta ul li a, .our-offer .boxes .box.first, .our-offer .boxes .box.last, .testimonial .rslides_tabs li a,
	.pager a.page, .Our_clients_slider a.Our_clients_slider_prev, .Our_clients_slider a.Our_clients_slider_next, .team .links a.link {
		border-color: #ebebeb;
	}
	
/* Go to top */
	a#back_to_top {
		color: #000;
	}
	a:hover#back_to_top {
		color: #611212;
	}
	
/* Article box */
	.article_box .thumbnail {
		border-color: #611212;
	}
	
/* Call to action */
	.call_to_action h4 {
		color: #ffffff;
	}
	
	.call_to_action h4 span {
		color: #FFCFCF;
	}
	
	.call_to_action a.button {
		background-color: #E32929;
		color: #ffffff !important;
	}
	
/* Trailer box */
	.trailer_box i { 
		color: #e32929;
	}
	.trailer_box .ca-main { 
		color: #455663;
	}
	.trailer_box .ca-sub {
		color: #676F76;
	}
	.trailer_box:hover i {
		color: #c21a1a;
	}
	.trailer_box:hover .ca-main {
		color: #455663;
	}
	.trailer_box:hover .ca-sub {
		color: #455663;
	}
	
/* Faq & Accordion */
	.accordion .question h5, .faq .question h5 { 
		color: #474747;
		background-color: #f6f6f6;
		border-color: #e32929;
	}
	
/* Tabs */
	.ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-active { 
		background-color: #f6f6f6 !important; 
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-active a {
		color: #474747;
		border-top: 4px solid #e32929;
		text-shadow: 0px 0px 0px #fff;
	}
	.ui-tabs .ui-tabs-nav li a {
		color: #fff;
		text-shadow: 1px 1px 0px #000;
	}

/* Footer headers and text */
	#Footer { 
		color: #D0D0D0;
	}
	
	#Footer .container {
		border-top-color: #e32929;
	}
	
	#Footer a { 
		color: #e32929;
	}
	
	#Footer a:hover { 
		color: #e32929;
	}
	
	#Footer h1,
	#Footer h2,
	#Footer h3,
	#Footer h4,
	#Footer h5,
	#Footer h6  {
		color: #fff;
	}
	
	
/* Footer strong */
	#Footer .Twitter li span, #Footer .copy strong, #Footer .Latest_posts ul li a.title, 
	#Footer .Latest_posts ul li p i, #Footer .Recent_comments ul li p strong,
	#Footer .Recent_comments ul li p i, #Footer .widget_calendar caption {
		color: #fff;
	}
	
/* Footer grey notes */

	#Footer .Twitter ul li > a, #Footer .Recent_comments li span.date, #Footer .Latest_posts span.date {
		color: #A6A6A6;
	}
	
/* Footer frames, background & border color */
	
	#Footer .Twitter li, #Footer .Flickr .flickr_badge_image a, #Footer .Recent_comments ul li, 
	#Footer .Latest_posts ul li, #Footer .widget ul.menu li a, #Footer .widget_meta ul li a, #Footer table thead th, #Footer table tbody td {
		border-color: #2C2C2C; 
	}
	
/* Portfolio */	
	.portfolio_item .photo a i, .wp-caption .photo a i {
		color: #e32929;
		text-shadow: 1px 1px 0 #fff;
	}
	
	.portfolio_item .photo p.title {
		color: #611212;
		text-shadow: 1px 1px 0 #fff;
	}
